# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  33  99  74  28
1  15  83  26  44
2  62  30  83  78
3  34   8  22  72
4  44  96  56  76
5   4  77  28   5
DataFrame with new index:
     B   C   D
A
33  99  74  28
15  83  26  44
62  30  83  78
34   8  22  72
44  96  56  76
4   77  28   5

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  62  76  89
Y  19  51  48
Z  40  22  18
Element at row 'Y' and column 'B': 51

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  79  24  30
1  34  34  63
2  84  73  34
3  86  62  69
4  75  51  27
DataFrame with new column:
    A   B   C     D
0  79  24  30  1896
1  34  34  63  1156
2  84  73  34  6132
3  86  62  69  5332
4  75  51  27  3825

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  13  96   3
1  63  57  94
2  91  72  10
3  44   1  69
Row-wise sum:
0    112
1    214
2    173
3    114
dtype: int64
Column-wise sum:
A    211
B    226
C    176
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  74  67  10
1  25  47  61
2  78  31  22
3  54  61  23
4  42  58  10
DataFrame with NaN values:
      A     B     C
0  74.0   NaN  10.0
1  25.0  47.0  61.0
2  78.0  31.0   NaN
3  54.0  61.0  23.0
4   NaN  58.0  10.0
DataFrame with NaN values filled:
       A      B     C
0  74.00  49.25  10.0
1  25.00  47.00  61.0
2  78.00  31.00  26.0
3  54.00  61.00  23.0
4  57.75  58.00  10.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  88  38  10  77
1  79  36  20  26
2  28  44  67  86
3  73  46  76  85
4  53   3  73  62
5   1  97  40  62
DataFrame with NaN values:
      A     B     C   D
0  88.0  38.0  10.0  77
1  79.0  36.0   NaN  26
2  28.0  44.0  67.0  86
3   NaN  46.0  76.0  85
4  53.0   3.0  73.0  62
5   1.0   NaN  40.0  62
DataFrame with NaN values dropped:
      A     B     C   D
0  88.0  38.0  10.0  77
2  28.0  44.0  67.0  86
4  53.0   3.0  73.0  62

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        B     99
1        B     75
2        B     11
3        B     48
4        B     82
5        C     25
6        C     23
7        B      5
8        C     62
9        B     33
Grouped DataFrame:
          sum       mean
Category
B         353  50.428571
C         110  36.666667

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        B     36
1   Prod1        C     34
2   Prod2        C     38
3   Prod2        C     26
4   Prod1        C     29
5   Prod1        A     80
6   Prod1        B     75
7   Prod1        B     74
8   Prod3        A     31
9   Prod1        A     38
Grouped DataFrame:
Category
A    149
B    185
C    127
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      56
1   B      66
2   C      22
3   D      46
DataFrame 2:
  Key  Value2
0   A      95
1   B       6
2   C      88
3   E      63
Merged DataFrame:
  Key  Value1  Value2
0   A      56      95
1   B      66       6
2   C      22      88

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  77  31
1  78   8
2  56  32
DataFrame 2:
    C   D
0  61  77
1  17  36
2  71  29
Concatenated DataFrame (rows):
      A     B     C     D
0  77.0  31.0   NaN   NaN
1  78.0   8.0   NaN   NaN
2  56.0  32.0   NaN   NaN
0   NaN   NaN  61.0  77.0
1   NaN   NaN  17.0  36.0
2   NaN   NaN  71.0  29.0
Concatenated DataFrame (columns):
    A   B   C   D
0  77  31  61  77
1  78   8  17  36
2  56  32  71  29

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [14]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame({'date': date_rng, 'data': np.random.randint(0, 100, size=(len(date_rng)))})
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    64
2022-01-02    93
2022-01-03    73
2022-01-04    39
2022-01-05    81
...          ...
2022-12-27    24
2022-12-28    21
2022-12-29    95
2022-12-30    82
2022-12-31    55

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  60.096774
2022-02-28  45.178571
2022-03-31  49.258065
2022-04-30  54.966667
2022-05-31  47.483871
2022-06-30  40.233333
2022-07-31  51.935484
2022-08-31  57.548387
2022-09-30  49.566667
2022-10-31  49.193548
2022-11-30  54.666667
2022-12-31  51.516129

C:\Users\salma\AppData\Local\Temp\ipykernel_15556\1891297308.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [17]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    62
2021-01-02    12
2021-01-03    34
2021-01-04    20
2021-01-05    70
...          ...
2021-12-27    76
2021-12-28    81
2021-12-29     9
2021-12-30    52
2021-12-31    76

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  46.000000
2021-12-28  54.142857
2021-12-29  51.428571
2021-12-30  51.285714
2021-12-31  61.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [18]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              47      77      69
         two              97      58      64
B        one              98      32      98
         two              28      82       4
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              47      77      69
two              97      58      64
Slicing at Category 'B' and SubCategory 'two':
Value1    28
Value2    82
Value3     4
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [26]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
category_sum = df.groupby('Category').sum()
print("Sum per Category:")
print(category_sum)
total_sum = df.groupby('SubCategory').sum()
print("Total sum of all values:")
print(total_sum)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              85      93      69
         two              17      12      29
B        one              28      75      10
         two              58      93      77
C        one              11      22      46
         two              61      46      96
Sum per Category:
          Value1  Value2  Value3
Category
A            102     105      98
B             86     168      87
C             72      68     142
Total sum of all values:
             Value1  Value2  Value3
SubCategory
one             124     190     125
two             136     151     202

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [ ]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-05        C     79
1  2022-01-08        C     46
2  2022-01-03        B     48
3  2022-01-06        B     14
4  2022-01-05        A     42
5  2022-01-08        B     47
6  2022-01-05        C     62
7  2022-01-04        C     35
8  2022-01-10        A     73
9  2022-01-04        B     25
10 2022-01-10        A     18
11 2022-01-07        C     67
12 2022-01-09        A     18
13 2022-01-07        B     71
14 2022-01-09        A     92
15 2022-01-03        C     73
16 2022-01-03        C     70
17 2022-01-03        A     21
18 2022-01-02        C     39
19 2022-01-05        B     42
Pivot Table:
Category       A     B     C
Date
2022-01-02   NaN   NaN  39.0
2022-01-03  21.0  48.0  71.5
2022-01-04   NaN  25.0  35.0
2022-01-05  42.0  42.0  70.5
2022-01-06   NaN  14.0   NaN
2022-01-07   NaN  71.0  67.0
2022-01-08   NaN  47.0  46.0
2022-01-09  55.0   NaN   NaN
2022-01-10  45.5   NaN   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [29]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q2      333
1   2020      Q4      383
2   2022      Q4       34
3   2021      Q4      374
4   2022      Q4      257
5   2021      Q1      880
6   2021      Q4      926
7   2022      Q2      523
8   2022      Q2      962
9   2022      Q2      591
10  2020      Q2      319
11  2021      Q1      914
Pivot Table:
Quarter     Q1     Q2     Q4
Year
2020       NaN  319.0  383.0
2021     897.0  333.0  650.0
2022       NaN  692.0  145.5

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [30]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  69   2  60
1  48  83  48
2  59  62  98
3  64  90  43
4  53  39  38
Doubled DataFrame:
     A    B    C
0  138    4  120
1   96  166   96
2  118  124  196
3  128  180   86
4  106   78   76

C:\Users\salma\AppData\Local\Temp\ipykernel_15556\3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [35]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  10   4  70
1  82  33  73
2  71  61  91
3  48  77  71
4  84  24  48
5  38  96  50
DataFrame with Sum column:
    A   B   C  Sum
0  10   4  70   84
1  82  33  73  188
2  71  61  91  223
3  48  77  71  196
4  84  24  48  156
5  38  96  50  184

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [38]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [40]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0     apple
1    banana
2    cherry
dtype: object